<div class="container">
    <h1>Dashboard</h1>
    <div class="jumbotron">
        <h2>Users</h2>
        <br>
        <div class="row">
            <div class="col-xs-7">
                <h5>Number of users: </h5>
                <h5>New users this month: </h5>
                <h5>Number of schedules created: </h5>
                <h5>Number of something else: </h5>
            </div>

            <div class="col-xs-5">
                <h5>Graph Here?</h5>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h2>Data</h2>
        <br>
        <div class="row">
            <div class="col-xs-7">
                <h5>Number of entries: </h5>
                <h5>New entries this month: </h5>
                <h5>Number of schedules created: </h5>
                <h5>Number of something else: </h5>
            </div>

            <div class="col-xs-5">
                <h5>Graph Here?</h5>
            </div>
        </div>
    </div>
</div>