<div class="container" id="newScheduleDiv">
    <h1>Create a Schedule</h1>
    <br>
    <div class="form-inline">
        <div class="form-group">
            <label style="margin-right:20px;">Trimester:</label>
            <select class="form-control input-sm" ng-change="something()" ng-model="input.trimester">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>
    <br><br>
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Teacher:</th>
                <th>Class:</th>
                <th>Period:</th>
                <th>Room:</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="list in lists | orderBy: list.period">
                <td>{{ list.teacher }}</td>
                <td>{{ list.class }}</td>
                <td>{{ list.period }}</td>
                <td>{{ list.room }}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <form>
        <div class="form-group">
            <label>Teacher:</label>
            <select class="form-control" ng-disabled="tDisabled" ng-model="input.teacher" ng-options="teacher.lastname + ', ' + teacher.firstname for teacher in teachers" ng-change="teacherClicked()"></select>
        </div>

        <div class="form-group">
            <label>Class:</label>
            <select class="form-control" ng-disabled="cDisabled" ng-options="class.classname for class in classes" ng-model="input.class"></select>
        </div>

        <div class="form-group">
            <label>Period:</label>
            <label>{{ input.period }}</label>
            <!-- <select class="form-control" ng-model="input.period">
               <option selected="selected">1</option>
               <option>2</option>
               <option>3</option>
               <option>4</option>
               <option>5</option>
               <option>6</option>
            </select> -->
        </div>
        <br>
        <div class="pull-right">
            <button class="btn btn-primary" type="submit" ng-hide="hideSubmit" ng-click="submitClick()">Submit</button>
            &nbsp;
            <button class="btn btn-primary" type="button" ng-hide="hideDone" ng-click="doneClick()">Done</button>
        </div>
        <br>
    </form>
    <br>
</div>