.header {
    height:170px;
    background: url(/images/blurry.jpg) no-repeat center center fixed;
}

#appDiv ul li a {
    color:white;
}

#appDiv ul li a:hover{
    text-decoration:none;
    color:white;
}

#appDiv div h1 {
    color:white;
}