.header {
    height:170px;
    background: url(/images/blurry.jpg) no-repeat center center fixed;
}

#appDiv ul li a {
    color:white;
}

#appDiv ul li a:hover, #appDiv ul li a:active, #appDiv ul li a:visited, #appDiv ul li a:link{
    text-decoration:none;
    color:white;
}

#appDiv {
    padding-right:-15px;
    float:none;
}

@media only screen and (min-width : 992px) {
    #appDiv ul li :hover{
        padding-bottom: 5px;
        border-bottom-style: solid;
        border-bottom-width: 2px;
        border-bottom-color: #fff;
    }
}

#appDiv ul .active {
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #fff;
}

#newScheduleDiv {
    height:auto;
}