        html, body {
            min-height:100%;
/*            position: relative;*/
        }

        #landingdiv {
            background: url(/images/blurry.jpg) no-repeat center center fixed;
            width:100%;
            min-height:100%;
            padding-top:30px;
        }

        h1 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 40px;
        }

        /* Override B3 .panel adding a subtly transparent background */
        .panel {
            background-color: rgba(255, 255, 255, 0.4);
        }

        .margin-base-vertical {
            margin: 40px 0;
        }
/*        .btn .glyphicon{
            vertical-align:top;
        }*/