<div class="container">
	<div style="height:50%; overflow:auto;" >
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Username:</th>
					<th>First Name:</th>
					<th>Admin:</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users" ng-class="{ 'info' : $index == selected }" ng-click="rowClick($index, user._id)">
					<td>{{ user.username }}</td>
					<td>{{ user.firstname }}</td>
					<td>{{ user.admin }}</td>
					<td>
						<span class="glyphicon glyphicon-remove" style="cursor:pointer;" ng-click="removeUser(user._id, $event)"></span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<span class="glyphicon glyphicon-plus" style="cursor:pointer;" ng-click="newClick()"></span>
	&nbsp;
	<span class="glyphicon glyphicon-refresh" style="cursor:pointer;" ng-click="refresh()"></span>
	<br>
	<br>
	<form ng-hide="hideForm">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" ng-model="user.username">
		</div>

		<div class="form-group">
			<label for="firstname">First Name:</label>
			<input type="text" class="form-control" ng-model="user.firstname">
		</div>

		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" ng-model="user.password">
		</div>

		<div class="checkbox">
			<label>
				<input type="checkbox" ng-model="user.admin" ng-init="user.admin=false">Admin?
			</label>
			<button class="btn btn-primary" style="float: right;" ng-click="saveClick()">Save</button>
			<br><br>
		</div>
	</form>
</div>